.active {
    text-decoration: underline;
}
.quinto {
    background: #FFF59D;
}
.cuarto {
    background: #FFCC80;
}
.tercero {
    background: #A5D6A7;
}
.segundo {
    background: #034694;
    color: #fff;
}
.primero {
    background: #522e00;
    color: #fff;
}

.quinto a,
.cuarto a,
.tercero a {
    color: rgba(0, 0, 0, 0.75);
}

.quinto a:hover,
.cuarto a:hover,
.tercero a:hover {
    color: rgba(0, 0, 0, 1);
}
.segundo a,
.primero a {
    color: rgba(255, 255, 255, 0.75);
}
.segundo a:hover,
.primero a:hover {
    color: rgba(255, 255, 255, 1);
}

.quinto span,
.cuarto span,
.tercero span {
    color: rgba(0, 0, 0, 0.5);
}
.segundo span,
.primero span {
    color: rgba(255, 255, 255, 0.5);
}